* {
  box-sizing: border-box;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.header > img {
  width: 31.31px;
  height: 26.22px;
}

.header > p {
  margin-left: -45px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 20.7482px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.header > h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}

.Meme {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.Meme--i1,
.Meme--i2 {
  border: 1px solid #d5d4d8;
  padding: 10px;
  border-radius: 5px;
  text-indent: 5px;
}

.form--Btn {
  grid-column: span 2;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #ffffff;
  border: none;
  padding: 10px 159px;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme--img{
  margin: 20px auto;
  width: 477px;
  object-fit: cover;
  display: flex;
  
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}